@model ProductViewModel
<section id="secondpageintroduce">
    <div class="container">
        <div class="col-lg-12 info">
            <div class="title">
                <h1>
                    Product List
                </h1>
            </div>
            <div class="desc">
                <p>Where flowers are our inspiration</p>
            </div>
        </div>
    </div>
</section>

<section id="orangeamarylls">
    <div class="container">
        <div class="row">
            <div class="images col-lg-6 col-md-12 col-12">
                <div class="littleImages">
                    @foreach (var item in Model.Product.ProductImages)
                    {
                        <div class="littleimage">
                            <img src="~/assets/images/@item.Image"
                                 alt="">
                        </div>

                    }




                </div>

                <div class="bigImage">
                    <img src="~/assets/images/@Model.Product.ProductImages.FirstOrDefault(x=>x.IsMain)?.Image"
                         alt="">
                </div>

            </div>
            <div class="infos col-lg-6 col-md-12 col-12">
                <div class="info">
                    <div class="title">
                        <h1>@Model.Product.Name</h1>
                    </div>
                    <div class="price">
                        <p>$@Model.Product.Price</p>
                    </div>
                    <div class="desc">
                        <p>
                            @Model.Product.Description
                        </p>
                    </div>
                    <div class="button">
                        <input id="inputbasketCount" type="number" placeholder="Quantity">
                        <div class="counter">
                            <i class="fas fa-chevron-left minus"></i><span class="counting">0</span><i class="fas fa-chevron-right plus"></i>
                        </div>
                        <a class="addbasketdetail" asp-controller="product" asp-action="addbasket" asp-route-id="@Model.Product.Id" style="background-color:black; color:white;text-decoration:none;padding:12px;" type="button">ADD TO CART <span></span></a>
                    </div>
                    <div class="details">
                        <span>SKU: <a href="">@Model.Product.Id</a></span>
                        <span>
                            Categories: <a href="">
                                @foreach (var item in Model.Product.ProductCategories)
                                {
                                    @item.Category.Name
                                }
                            </a>
                        </span>
                        <span>
                            Tags: <a href="">
                                @foreach (var item in Model.Product.ProductTags)
                                {
                                    @item.Tag.Name
                                }
                            </a>
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="tabs">
    <div class="container">


        <div class="row titles">
            <div data-id="powerofflower" class="col-lg-2 col-md-2 col-5 title">
                <button style="border-top: none !important;" type="button"><span>DESCRIPTION</span></button>
            </div>
            <div data-id="additional" class="col-lg-3 col-md-3 col-8 title">
                <button style="border-top: none !important;border-left: none !important;border-right: none !important;" type="button"><span>ADDITIONAL INFORMATION</span></button>
            </div>
            <div data-id="reviews" class="col-lg-2 col-md-4 col-5 title">
                <button style="border-top: none !important;" type="button"><span>REVIEWS (@Model.Product.Comments.Count())</span></button>
            </div>
        </div>


        <div class="row paragraphs">
            <div class="col-lg-12 powerofflower">
                <div class="title">
                    <h1>@Model.Product.Title</h1>
                </div>
                <div class="desc">
                    <p>
                        @Model.Product.Info
                    </p>
                </div>
            </div>
            <div class="col-lg-12 additional">
                <span style="font-weight: bolder;">Weight:</span><span style="margin-left: 10px;">@Model.Product.Weight kq</span><br>
                <span style="font-weight: bolder;">Dimensions:</span><span style="margin-left: 10px;">
                    @Model.Product.Dimensions
                </span>
            </div>
            <div class="col-lg-12 reviews">
                <div class="title">
                    <h3>Reviews</h3>
                </div>
                @foreach (var item in Model.Product.Comments)
                {
                    <div class="review">
                        <div class="image">
                            <img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/user-img-1-100x100.png"
                                 alt="">
                        </div>
                        <div class="info">
                            <span>@item.AppUser.UserName</span> <span> @item.CreatedDate.ToString("dd MM yyyy")</span>
                            <p>
                            @item.Text
                            </p>
                        </div>

                    </div>
                }


                <div class="forum">
                    <div class="title">
                        <h2>Add a review</h2>
                    </div>
                    <div class="warning">
                        <span>
                            Your email address will not be published. Required fields are marked *

                        </span>
                    </div>
                    <form asp-controller="comment" asp-action="AddComment" method="post">
                        <label for="yourreiew"><span>Your review *</span></label><br>
                        <input style="height: 200px;" type="text" name="Text" required id=""><br>
                        <input hidden  type="text" value="@Model.Product.Id" name="ProductId"><br>
                        <button type="submit"><span>Send</span></button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>

<section id="products">
    <div class="container">
        <div class="row">
            @await Html.PartialAsync("_ProductPartialView", Model.Products)
        </div>
    </div>
</section>

@section Js{
    <script>
        const addbasketdetail = document.querySelector(".addbasketdetail");
        const inputbasketCount = document.getElementById("inputbasketCount");

        addbasketdetail.addEventListener("click", (e) => {
            e.preventDefault();
            let href = addbasketdetail.getAttribute("href");
            href = href + `?count=${inputbasketCount.value}`
            console.log(href)
            let totalPrice = 0;
            let totalCount = 0;
            fetch(href)
                .then(x => x.json())
                .then(x => {
                    if (x.status == 200) {
                        fetch("/product/getallbaskets")
                            .then(res => res.json())
                            .then(b => {
                                listProducts.innerHTML = ""
                                b.forEach(basket => {
                                    totalCount++;
                                    totalPrice += basket.price * basket.count;
                                    let basketView = `
                                        <div class="product">
                                            <div class="image">
                                                <img src="/assets/images/${basket.image}">
                                            </div>
                                            <div>
                                                <p class="product-name">${basket.name}</p>
                                                <p>
                                                    <span class="product-count">
                                                       ${basket.count}
                                                    </span>
                                                    X
                                                    <span class="product-price">
                                                        ${basket.price}
                                                    </span>
                                                </p>
                                            </div>
                                            <div>
                                                <div>
                                                    <a href="/product/RemoveBasket/${basket.productId}" class="btn-product-delete" data-id="">x</a>
                                                </div>
                                            </div>

                                        </div>`
                                    listProducts.innerHTML += basketView;

                                })
                                totalCountElement.innerHTML = totalCount;
                                totalPriceElement.innerHTML = totalPrice;
                                bagCount.innerHTML = totalCount;
                                bagTotalPrice.innerHTML = totalPrice;
                                const Toast = Swal.mixin({
                                    toast: true,
                                    position: 'top-end',
                                    showConfirmButton: false,
                                    timer: 3000,
                                    timerProgressBar: true,
                                    didOpen: (toast) => {
                                        toast.addEventListener('mouseenter', Swal.stopTimer)
                                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                                    }
                                })

                                Toast.fire({
                                    icon: 'success',
                                    title: `Added to basket  successfully`
                                })
                            })
                    }
                })
        })

    </script>
    <script src="~/assets/js/orangeamarylls.js"></script>

}
